.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.game-board-container{
    min-width: 500px;
    min-height: 500px;
    height: 50vh;
    width: 50vw;
    background-color: aliceblue;
    border-radius: 10px;
    border: solid gray 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.game-board{
    cursor: pointer;
    min-height: 200px;
    min-width: 200px;
    width: 30vw;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
}

.cell{
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#zero, #three, #six{
    border-right: solid 3px black;
}

#two, #five, #eight{
    border-left: solid 3px black;
}

#zero, #one, #two{
    border-bottom: solid 3px black;
}

#six, #seven, #eight{
    border-top: solid 3px black;
}

.btn{
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border-color: transparent;
    color: aliceblue;
    width: 80px;
    height: 30px;
    background-color: gray;
    position: absolute;
    top: 20px;
    right: 20px;
}

#versus{
    text-align: center;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border-color: transparent;
    color: aliceblue;
    width: 190px;
    height: 30px;
    background-color: gray;
    position: absolute;
    top: 20px;
    left: 20px;
}